# Ignore node_modules
node_modules/

# Ignore environment variable files
backend/.env

# Ignore Firebase service account key
backend/studybuds-firebase-adminsdk.json

# ignore just in case
frontend/.env

# Ignore build
build/
 
