*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.leaderboard-wrapper{
    width: 600px;
    background: #e4f2ce;
    color: #bacaa6;
    border-radius: 10px;
    padding: 30px 40px;
}
.leaderboard-wrapper h1{
    font-size: 44px;
    text-align: center;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.leaderboard-wrapper .First{
    font-size: 20px;
    color: goldenrod;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    padding-top: 40px;
}
.leaderboard-wrapper .Points{
    font-size: 18px;
    color: black;
    padding-bottom: 30px;
    margin-top: -30px;
    text-align: right;
}
.leaderboard-wrapper .Second{
    font-size: 20px;
    color: silver;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.leaderboard-wrapper .Third{
    font-size: 20px;
    color: #CD7F32;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.leaderboard-wrapper .RunnerUps{
    font-size: 20px;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.leaderboard-wrapper .DotSpace p{
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: -10px;
}
.leaderboard-wrapper .YourScore{
    font-size: 20px;
    color: lawngreen;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}